

.header{
    text-align:center;
    height:100px;
    border:1px solid black;
}

.navigation{
    height:40px;
    border:1px solid black;
    margin-top:10px;
    text-align:center;
}

.navigation_content{
    line-height:40px;
}

.content_container{
    margin-top:10px;
    padding:0px;

}

.left_box{
    border:1px solid black;
    height:200px;
    text-align:center;
}

.center_box{
    border:1px solid black;
    height:200px;
    text-align:center;
}

.right_box{
    border:1px solid black;
    height:200px;
    text-align:center;
}

.main_content{
    line-height:200px;
}